*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body,
html {
    font-size: 100%;
    padding: 0;
    margin: 0;
}


/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

body {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    color: #333;
    background: #fff;
}

a {
    color: #c0392b;
    text-decoration: none;
}

pre {
    color: #006699;
    background-color: rgb(239,239,239);
    padding-bottom:10px ;
    padding-left:10px ;
    border-radius: 3px;
}

a:hover,
a:active {
    color: #333;
}


/* Header Style */

.main,
.md-container > header {
    margin: 0 auto;
    padding: 2em;
}

.md-container > header {
    text-align: center;
    background: #fff;
    padding: 3em;
}

.md-container > header h1 {
    font-size: 2.625em;
    line-height: 1.3;
    margin: 0;
    font-weight: 300;
}

.md-container > header span {
    display: block;
    font-size: 60%;
    opacity: 0.7;
    padding: 0 0 0.6em 0.1em;
}


/* Main Content */

.main {
    max-width: 69em;
}

.column {
    float: left;
    width: 50%;
    padding: 0 2em;
    min-height: 300px;
    position: relative;
}

.column:nth-child(2) {
    box-shadow: -1px 0 0 rgba(0, 0, 0, 0.1);
}

.column p {
    font-weight: 300;
    font-size: 2em;
    padding: 0;
    margin: 0;
    text-align: right;
    line-height: 1.5;
}

button {
    border: none;
    padding: 0.6em 1.2em;
    background-color: #fff;
    color: #333;
    font-family: 'microsoft yahei', Arial, sans-serif;
    font-size: 1em;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
    margin: 3px 2px;
    border-radius: 3px;
    border: 1px solid rgb(204, 204, 204);
}
