<script type="text/ng-template" id="modal-1" />
<div class="md-modal md-effect-1">
    <div class="md-content">
        <div class="md-header">
            <h3>Modal Dialog {{md.title}}</h3>
        </div>
        <div class="md-body">
            <p>This is a modal window. You can do the following things with it:</p>
            <p>This is a modal window. You can do the following things with it:</p>
            <p>This is a modal window. You can do the following things with it:</p>
            <p>This is a modal window. You can do the following things with it:</p>
            <ul>
                <li><strong>Read:</strong> modal windows will probably tell you something important so don't forget to read what they say.</li>
                <li><strong>Look:</strong> a modal window enjoys a certain kind of attention; just look at it and appreciate its presence.</li>
                <li><strong>Close:</strong> click on the button below to close the modal.</li>
            </ul>
        </div>
        <div class="md-footer">
            <button ng-click="md.close()">Close me!</button>
        </div>
    </div>
</div>
</script>
<script type="text/ng-template" id="modal-2" />
<div class="md-modal md-effect-2">
    <div class="md-content">
        <div class="md-header">
            <h3>Modal Dialog {{md.title}}</h3>
        </div>
        <div class="md-body">
            <p>This is a modal window. You can do the following things with it:</p>
            <p>This is a modal window. You can do the following things with it:</p>
            <p>This is a modal window. You can do the following things with it:</p>
            <p>This is a modal window. You can do the following things with it:</p>
            <ul>
                <li><strong>Read:</strong> modal windows will probably tell you something important so don't forget to read what they say.</li>
                <li><strong>Look:</strong> a modal window enjoys a certain kind of attention; just look at it and appreciate its presence.</li>
                <li><strong>Close:</strong> click on the button below to close the modal.</li>
            </ul>
        </div>
        <div class="md-footer">
             <button ng-click="md.close()">Close me!</button>
        </div>
    </div>
</div>
</script>
<script type="text/ng-template" id="modal-3" />
<div class="md-modal md-effect-3">
    <div class="md-content">
        <div class="md-header">
            <h3>Modal Dialog {{md.title}}</h3>
        </div>
        <div class="md-body">
            <p>This is a modal window. You can do the following things with it:</p>
            <p>This is a modal window. You can do the following things with it:</p>
            <p>This is a modal window. You can do the following things with it:</p>
            <p>This is a modal window. You can do the following things with it:</p>
            <ul>
                <li><strong>Read:</strong> modal windows will probably tell you something important so don't forget to read what they say.</li>
                <li><strong>Look:</strong> a modal window enjoys a certain kind of attention; just look at it and appreciate its presence.</li>
                <li><strong>Close:</strong> click on the button below to close the modal.</li>
            </ul>
        </div>
        <div class="md-footer">
             <button ng-click="md.close()">Close me!</button>
        </div>
    </div>
</div>
</script>
<script type="text/ng-template" id="modal-4" />
<div class="md-modal md-effect-4">
    <div class="md-content">
        <div class="md-header">
            <h3>Modal Dialog {{md.title}}</h3>
        </div>
        <div class="md-body">
            <p>This is a modal window. You can do the following things with it:</p>
            <p>This is a modal window. You can do the following things with it:</p>
            <p>This is a modal window. You can do the following things with it:</p>
            <p>This is a modal window. You can do the following things with it:</p>
            <ul>
                <li><strong>Read:</strong> modal windows will probably tell you something important so don't forget to read what they say.</li>
                <li><strong>Look:</strong> a modal window enjoys a certain kind of attention; just look at it and appreciate its presence.</li>
                <li><strong>Close:</strong> click on the button below to close the modal.</li>
            </ul>
        </div>
        <div class="md-footer">
             <button ng-click="md.close()">Close me!</button>
        </div>
    </div>
</div>
</script>
<script type="text/ng-template" id="modal-5" />
<div class="md-modal md-effect-5">
    <div class="md-content">
        <div class="md-header">
            <h3>Modal Dialog {{md.title}}</h3>
        </div>
        <div class="md-body">
            <p>This is a modal window. You can do the following things with it:</p>
            <p>This is a modal window. You can do the following things with it:</p>
            <p>This is a modal window. You can do the following things with it:</p>
            <p>This is a modal window. You can do the following things with it:</p>
            <ul>
                <li><strong>Read:</strong> modal windows will probably tell you something important so don't forget to read what they say.</li>
                <li><strong>Look:</strong> a modal window enjoys a certain kind of attention; just look at it and appreciate its presence.</li>
                <li><strong>Close:</strong> click on the button below to close the modal.</li>
            </ul>
        </div>
        <div class="md-footer">
             <button ng-click="md.close()">Close me!</button>
        </div>
    </div>
</div>
</script>
<script type="text/ng-template" id="modal-6" />
<div class="md-modal md-effect-6">
    <div class="md-content">
        <div class="md-header">
            <h3>Modal Dialog {{md.title}}</h3>
        </div>
        <div class="md-body">
            <p>This is a modal window. You can do the following things with it:</p>
            <p>This is a modal window. You can do the following things with it:</p>
            <p>This is a modal window. You can do the following things with it:</p>
            <p>This is a modal window. You can do the following things with it:</p>
            <ul>
                <li><strong>Read:</strong> modal windows will probably tell you something important so don't forget to read what they say.</li>
                <li><strong>Look:</strong> a modal window enjoys a certain kind of attention; just look at it and appreciate its presence.</li>
                <li><strong>Close:</strong> click on the button below to close the modal.</li>
            </ul>
        </div>
        <div class="md-footer">
             <button ng-click="md.close()">Close me!</button>
        </div>
    </div>
</div>
</script>
<script type="text/ng-template" id="modal-7" />
<div class="md-modal md-effect-7">
    <div class="md-content">
        <div class="md-header">
            <h3>Modal Dialog {{md.title}}</h3>
        </div>
        <div class="md-body">
            <p>This is a modal window. You can do the following things with it:</p>
            <p>This is a modal window. You can do the following things with it:</p>
            <p>This is a modal window. You can do the following things with it:</p>
            <p>This is a modal window. You can do the following things with it:</p>
            <ul>
                <li><strong>Read:</strong> modal windows will probably tell you something important so don't forget to read what they say.</li>
                <li><strong>Look:</strong> a modal window enjoys a certain kind of attention; just look at it and appreciate its presence.</li>
                <li><strong>Close:</strong> click on the button below to close the modal.</li>
            </ul>
        </div>
        <div class="md-footer">
             <button ng-click="md.close()">Close me!</button>
        </div>
    </div>
</div>
</script>
<script type="text/ng-template" id="modal-8" />
<div class="md-modal md-effect-8">
    <div class="md-content">
        <div class="md-header">
            <h3>Modal Dialog {{md.title}}</h3>
        </div>
        <div class="md-body">
            <p>This is a modal window. You can do the following things with it:</p>
            <p>This is a modal window. You can do the following things with it:</p>
            <p>This is a modal window. You can do the following things with it:</p>
            <p>This is a modal window. You can do the following things with it:</p>
            <ul>
                <li><strong>Read:</strong> modal windows will probably tell you something important so don't forget to read what they say.</li>
                <li><strong>Look:</strong> a modal window enjoys a certain kind of attention; just look at it and appreciate its presence.</li>
                <li><strong>Close:</strong> click on the button below to close the modal.</li>
            </ul>
        </div>
        <div class="md-footer">
             <button ng-click="md.close()">Close me!</button>
        </div>
    </div>
</div>
</script>
<script type="text/ng-template" id="modal-9" />
<div class="md-modal md-effect-9">
    <div class="md-content">
        <div class="md-header">
            <h3>Modal Dialog {{md.title}}</h3>
        </div>
        <div class="md-body">
            <p>This is a modal window. You can do the following things with it:</p>
            <p>This is a modal window. You can do the following things with it:</p>
            <p>This is a modal window. You can do the following things with it:</p>
            <p>This is a modal window. You can do the following things with it:</p>
            <ul>
                <li><strong>Read:</strong> modal windows will probably tell you something important so don't forget to read what they say.</li>
                <li><strong>Look:</strong> a modal window enjoys a certain kind of attention; just look at it and appreciate its presence.</li>
                <li><strong>Close:</strong> click on the button below to close the modal.</li>
            </ul>
        </div>
        <div class="md-footer">
             <button ng-click="md.close()">Close me!</button>
        </div>
    </div>
</div>
</script>
<script type="text/ng-template" id="modal-10" />
<div class="md-modal md-effect-10">
    <div class="md-content">
        <div class="md-header">
            <h3>Modal Dialog {{md.title}}</h3>
        </div>
        <div class="md-body">
            <p>This is a modal window. You can do the following things with it:</p>
            <p>This is a modal window. You can do the following things with it:</p>
            <p>This is a modal window. You can do the following things with it:</p>
            <p>This is a modal window. You can do the following things with it:</p>
            <ul>
                <li><strong>Read:</strong> modal windows will probably tell you something important so don't forget to read what they say.</li>
                <li><strong>Look:</strong> a modal window enjoys a certain kind of attention; just look at it and appreciate its presence.</li>
                <li><strong>Close:</strong> click on the button below to close the modal.</li>
            </ul>
        </div>
        <div class="md-footer">
            <button ng-click="md.close()">Close me!</button>
        </div>
    </div>
</div>
</script>
<script type="text/ng-template" id="modal-11" />
<div class="md-modal md-effect-11">
    <div class="md-content">
        <div class="md-header">
            <h3>Modal Dialog {{md.title}}</h3>
        </div>
        <div class="md-body">
            <p>This is a modal window. You can do the following things with it:</p>
            <p>This is a modal window. You can do the following things with it:</p>
            <p>This is a modal window. You can do the following things with it:</p>
            <p>This is a modal window. You can do the following things with it:</p>
            <ul>
                <li><strong>Read:</strong> modal windows will probably tell you something important so don't forget to read what they say.</li>
                <li><strong>Look:</strong> a modal window enjoys a certain kind of attention; just look at it and appreciate its presence.</li>
                <li><strong>Close:</strong> click on the button below to close the modal.</li>
            </ul>
        </div>
        <div class="md-footer">
             <button ng-click="md.close()">Close me!</button>
        </div>
    </div>
</div>
</script>
<script type="text/ng-template" id="modal-12" />
<div class="md-modal md-effect-12">
    <div class="md-content">
        <div class="md-header">
            <h3>Modal Dialog {{md.title}}</h3>
        </div>
        <div class="md-body">
            <p>This is a modal window. You can do the following things with it:</p>
            <p>This is a modal window. You can do the following things with it:</p>
            <p>This is a modal window. You can do the following things with it:</p>
            <p>This is a modal window. You can do the following things with it:</p>
            <ul>
                <li><strong>Read:</strong> modal windows will probably tell you something important so don't forget to read what they say.</li>
                <li><strong>Look:</strong> a modal window enjoys a certain kind of attention; just look at it and appreciate its presence.</li>
                <li><strong>Close:</strong> click on the button below to close the modal.</li>
            </ul>
        </div>
        <div class="md-footer">
             <button ng-click="md.close()">Close me!</button>
        </div>
    </div>
</div>
</script>
<script type="text/ng-template" id="modal-13" />
<div class="md-modal md-effect-13">
    <div class="md-content">
        <div class="md-header">
            <h3>Modal Dialog {{md.title}}</h3>
        </div>
        <div class="md-body">
            <p>This is a modal window. You can do the following things with it:</p>
            <p>This is a modal window. You can do the following things with it:</p>
            <p>This is a modal window. You can do the following things with it:</p>
            <p>This is a modal window. You can do the following things with it:</p>
            <ul>
                <li><strong>Read:</strong> modal windows will probably tell you something important so don't forget to read what they say.</li>
                <li><strong>Look:</strong> a modal window enjoys a certain kind of attention; just look at it and appreciate its presence.</li>
                <li><strong>Close:</strong> click on the button below to close the modal.</li>
            </ul>
        </div>
        <div class="md-footer">
             <button ng-click="md.close()">Close me!</button>
        </div>
    </div>
</div>
</script>
<script type="text/ng-template" id="modal-14" />
<div class="md-modal md-effect-14">
    <div class="md-content">
        <div class="md-header">
            <h3>Modal Dialog {{md.title}}</h3>
        </div>
        <div class="md-body">
            <p>This is a modal window. You can do the following things with it:</p>
            <p>This is a modal window. You can do the following things with it:</p>
            <p>This is a modal window. You can do the following things with it:</p>
            <p>This is a modal window. You can do the following things with it:</p>
            <ul>
                <li><strong>Read:</strong> modal windows will probably tell you something important so don't forget to read what they say.</li>
                <li><strong>Look:</strong> a modal window enjoys a certain kind of attention; just look at it and appreciate its presence.</li>
                <li><strong>Close:</strong> click on the button below to close the modal.</li>
            </ul>
        </div>
        <div class="md-footer">
             <button ng-click="md.close()">Close me!</button>
        </div>
    </div>
</div>
</script>
<script type="text/ng-template" id="modal-15" />
<div class="md-modal md-effect-15">
    <div class="md-content">
        <div class="md-header">
            <h3>Modal Dialog {{md.title}}</h3>
        </div>
        <div class="md-body">
            <p>This is a modal window. You can do the following things with it:</p>
            <p>This is a modal window. You can do the following things with it:</p>
            <p>This is a modal window. You can do the following things with it:</p>
            <p>This is a modal window. You can do the following things with it:</p>
            <ul>
                <li><strong>Read:</strong> modal windows will probably tell you something important so don't forget to read what they say.</li>
                <li><strong>Look:</strong> a modal window enjoys a certain kind of attention; just look at it and appreciate its presence.</li>
                <li><strong>Close:</strong> click on the button below to close the modal.</li>
            </ul>
        </div>
        <div class="md-footer">
             <button ng-click="md.close()">Close me!</button>
        </div>
    </div>
</div>
</script>
<script type="text/ng-template" id="modal-16" />
<div class="md-modal md-effect-16">
    <div class="md-content">
        <div class="md-header">
            <h3>Modal Dialog {{md.title}}</h3>
        </div>
        <div class="md-body">
            <p>This is a modal window. You can do the following things with it:</p>
            <p>This is a modal window. You can do the following things with it:</p>
            <p>This is a modal window. You can do the following things with it:</p>
            <p>This is a modal window. You can do the following things with it:</p>
            <ul>
                <li><strong>Read:</strong> modal windows will probably tell you something important so don't forget to read what they say.</li>
                <li><strong>Look:</strong> a modal window enjoys a certain kind of attention; just look at it and appreciate its presence.</li>
                <li><strong>Close:</strong> click on the button below to close the modal.</li>
            </ul>
        </div>
        <div class="md-footer">
             <button ng-click="md.close()">Close me!</button>
        </div>
    </div>
</div>
</script>

<div class="md-main">
    <div class="md-container">
        <header>
            <h1>模态窗体弹出效果</h1>
        </header>
        <div class="main clearfix">
            <div class="column">
                <p>There are many possibilities for modal overlays to appear. Here are some modern ways of showing them using CSS transitions and animations.</p>
            </div>
            <div class="column">
                <button ng-click="container.showModal(1)">效果1</button>
                <button ng-click="container.showModal(2)">效果2</button>
                <button ng-click="container.showModal(3)">效果3</button>
                <button ng-click="container.showModal(4)">效果4</button>
                <button ng-click="container.showModal(5)">效果5</button>
                <button ng-click="container.showModal(6)">效果6</button>
                <button ng-click="container.showModal(7)">效果7</button>
                <button ng-click="container.showModal(8)">效果8</button>
                <button ng-click="container.showModal(9)">效果9</button>
                <button ng-click="container.showModal(10)">效果10</button>
                <button ng-click="container.showModal(11)">效果11</button>
                <button ng-click="container.showModal(12)">效果12</button>
                <button ng-click="container.showModal(13)">效果13</button>
                <button ng-click="container.showModal(14)">效果14</button>
                <button ng-click="container.showModal(15)">效果15</button>
                <button ng-click="container.showModal(16)">效果16</button>
            </div>
        </div>
    </div>
</div>
