
<script type="text/ng-template" id="modal-1">
    <div class="md-modal md-effect-1">
        <div class="md-content">
            <div class="md-header">
                <h3>Modal Dialog {{md.title}}</h3>
            </div>
            <div class="md-body">
                <p>使用简介:</p>
                <ul>
                    <li><strong>打开:</strong>
                        <pre><code>
//依赖注入$ecModal

$ecModal.open({
        templateUrl: 'modal-1',    //模板id
        controller: 'modal-1',     //控制器
        controllerAs: 'md',         
        overlayClose:true,          //默认false，设置true后点击模态窗体其它区域关闭
        resolve: {

        }
});</code></pre>
                    </li>
                    <li><strong>关闭:</strong>
                        <pre><code>
//依赖注入$ecModalInstance

$ecModalInstance.close().then(function(){
                    //成功关闭后执行


                });</code></pre>
                    </li>
                </ul>
            </div>
            <div class="md-footer">
                <button ng-click="md.close()">关闭</button>
            </div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="modal-2">
    <div class="md-modal md-effect-2">
        <div class="md-content">
            <div class="md-header">
                <h3>Modal Dialog {{md.title}}</h3>
            </div>
            <div class="md-body">
                <p>使用简介:</p>
                <ul>
                    <li><strong>打开:</strong>
                        <pre><code>
//依赖注入$ecModal

$ecModal.open({
        templateUrl: 'modal-2',    //模板id
        controller: 'modal-2',     //控制器
        controllerAs: 'md',         
        overlayClose:true,          //默认false，设置true后点击模态窗体其它区域关闭
        resolve: {

        }
});</code></pre>
                    </li>
                    <li><strong>关闭:</strong>
                        <pre><code>
//依赖注入$ecModalInstance

$ecModalInstance.close().then(function(){
                    //成功关闭后执行

                    
                });</code></pre>
                    </li>
                </ul>
            </div>
            <div class="md-footer">
                <button ng-click="md.close()">关闭</button>
            </div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="modal-3">
    <div class="md-modal md-effect-3">
        <div class="md-content">
            <div class="md-header">
                <h3>Modal Dialog {{md.title}}</h3>
            </div>
            <div class="md-body">
                <p>使用简介:</p>
                <ul>
                    <li><strong>打开:</strong>
                        <pre><code>
//依赖注入$ecModal

$ecModal.open({
        templateUrl: 'modal-3',    //模板id
        controller: 'modal-3',     //控制器
        controllerAs: 'md',         
        overlayClose:true,          //默认false，设置true后点击模态窗体其它区域关闭
        resolve: {

        }
});</code></pre>
                    </li>
                    <li><strong>关闭:</strong>
                        <pre><code>
//依赖注入$ecModalInstance

$ecModalInstance.close().then(function(){
                    //成功关闭后执行

                    
                });</code></pre>
                    </li>
                </ul>
            </div>
            <div class="md-footer">
                <button ng-click="md.close()">关闭</button>
            </div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="modal-4">
    <div class="md-modal md-effect-4">
        <div class="md-content">
            <div class="md-header">
                <h3>Modal Dialog {{md.title}}</h3>
            </div>
            <div class="md-body">
                <p>使用简介:</p>
                <ul>
                    <li><strong>打开:</strong>
                        <pre><code>
//依赖注入$ecModal

$ecModal.open({
        templateUrl: 'modal-4',    //模板id
        controller: 'modal-4',     //控制器
        controllerAs: 'md',         
        overlayClose:true,          //默认false，设置true后点击模态窗体其它区域关闭
        resolve: {

        }
});</code></pre>
                    </li>
                    <li><strong>关闭:</strong>
                        <pre><code>
//依赖注入$ecModalInstance

$ecModalInstance.close().then(function(){
                    //成功关闭后执行

                    
                });</code></pre>
                    </li>
                </ul>
            </div>
            <div class="md-footer">
                <button ng-click="md.close()">关闭</button>
            </div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="modal-5">
    <div class="md-modal md-effect-5">
        <div class="md-content">
            <div class="md-header">
                <h3>Modal Dialog {{md.title}}</h3>
            </div>
            <div class="md-body">
                <p>使用简介:</p>
                <ul>
                    <li><strong>打开:</strong>
                        <pre><code>
//依赖注入$ecModal

$ecModal.open({
        templateUrl: 'modal-5',    //模板id
        controller: 'modal-5',     //控制器
        controllerAs: 'md',         
        overlayClose:true,          //默认false，设置true后点击模态窗体其它区域关闭
        resolve: {

        }
});</code></pre>
                    </li>
                    <li><strong>关闭:</strong>
                        <pre><code>
//依赖注入$ecModalInstance

$ecModalInstance.close().then(function(){
                    //成功关闭后执行

                    
                });</code></pre>
                    </li>
                </ul>
            </div>
            <div class="md-footer">
                <button ng-click="md.close()">关闭</button>
            </div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="modal-6">
    <div class="md-modal md-effect-6">
        <div class="md-content">
            <div class="md-header">
                <h3>Modal Dialog {{md.title}}</h3>
            </div>
            <div class="md-body">
                <p>使用简介:</p>
                <ul>
                    <li><strong>打开:</strong>
                        <pre><code>
//依赖注入$ecModal

$ecModal.open({
        templateUrl: 'modal-6',    //模板id
        controller: 'modal-6',     //控制器
        controllerAs: 'md',         
        overlayClose:true,          //默认false，设置true后点击模态窗体其它区域关闭
        resolve: {

        }
});</code></pre>
                    </li>
                    <li><strong>关闭:</strong>
                        <pre><code>
//依赖注入$ecModalInstance

$ecModalInstance.close().then(function(){
                    //成功关闭后执行

                    
                });</code></pre>
                    </li>
                </ul>
            </div>
            <div class="md-footer">
                <button ng-click="md.close()">关闭</button>
            </div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="modal-7">
    <div class="md-modal md-effect-7">
        <div class="md-content">
            <div class="md-header">
                <h3>Modal Dialog {{md.title}}</h3>
            </div>
            <div class="md-body">
                <p>使用简介:</p>
                <ul>
                    <li><strong>打开:</strong>
                        <pre><code>
//依赖注入$ecModal

$ecModal.open({
        templateUrl: 'modal-7',    //模板id
        controller: 'modal-7',     //控制器
        controllerAs: 'md',         
        overlayClose:true,          //默认false，设置true后点击模态窗体其它区域关闭
        resolve: {

        }
});</code></pre>
                    </li>
                    <li><strong>关闭:</strong>
                        <pre><code>
//依赖注入$ecModalInstance

$ecModalInstance.close().then(function(){
                    //成功关闭后执行

                    
                });</code></pre>
                    </li>
                </ul>
            </div>
            <div class="md-footer">
                <button ng-click="md.close()">关闭</button>
            </div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="modal-8">
    <div class="md-modal md-effect-8">
        <div class="md-content">
            <div class="md-header">
                <h3>Modal Dialog {{md.title}}</h3>
            </div>
            <div class="md-body">
                <p>使用简介:</p>
                <ul>
                    <li><strong>打开:</strong>
                        <pre><code>
//依赖注入$ecModal

$ecModal.open({
        templateUrl: 'modal-8',    //模板id
        controller: 'modal-8',     //控制器
        controllerAs: 'md',         
        overlayClose:true,          //默认false，设置true后点击模态窗体其它区域关闭
        resolve: {

        }
});</code></pre>
                    </li>
                    <li><strong>关闭:</strong>
                        <pre><code>
//依赖注入$ecModalInstance

$ecModalInstance.close().then(function(){
                    //成功关闭后执行

                    
                });</code></pre>
                    </li>
                </ul>
            </div>
            <div class="md-footer">
                <button ng-click="md.close()">关闭</button>
            </div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="modal-9">
    <div class="md-modal md-effect-9">
        <div class="md-content">
            <div class="md-header">
                <h3>Modal Dialog {{md.title}}</h3>
            </div>
            <div class="md-body">
                <p>使用简介:</p>
                <ul>
                    <li><strong>打开:</strong>
                        <pre><code>
//依赖注入$ecModal

$ecModal.open({
        templateUrl: 'modal-9',    //模板id
        controller: 'modal-9',     //控制器
        controllerAs: 'md',         
        overlayClose:true,          //默认false，设置true后点击模态窗体其它区域关闭
        resolve: {

        }
});</code></pre>
                    </li>
                    <li><strong>关闭:</strong>
                        <pre><code>
//依赖注入$ecModalInstance

$ecModalInstance.close().then(function(){
                    //成功关闭后执行

                    
                });</code></pre>
                    </li>
                </ul>
            </div>
            <div class="md-footer">
                <button ng-click="md.close()">关闭</button>
            </div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="modal-10">
    <div class="md-modal md-effect-10">
        <div class="md-content">
            <div class="md-header">
                <h3>Modal Dialog {{md.title}}</h3>
            </div>
            <div class="md-body">
                <p>使用简介:</p>
                <ul>
                    <li><strong>打开:</strong>
                        <pre><code>
//依赖注入$ecModal

$ecModal.open({
        templateUrl: 'modal-10',    //模板id
        controller: 'modal-10',     //控制器
        controllerAs: 'md',         
        overlayClose:true,          //默认false，设置true后点击模态窗体其它区域关闭
        resolve: {

        }
});</code></pre>
                    </li>
                    <li><strong>关闭:</strong>
                        <pre><code>
//依赖注入$ecModalInstance

$ecModalInstance.close().then(function(){
                    //成功关闭后执行

                    
                });</code></pre>
                    </li>
                </ul>
            </div>
            <div class="md-footer">
                <button ng-click="md.close()">关闭</button>
            </div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="modal-11">
    <div class="md-modal md-effect-11">
        <div class="md-content">
            <div class="md-header">
                <h3>Modal Dialog {{md.title}}</h3>
            </div>
            <div class="md-body">
                <p>使用简介:</p>
                <ul>
                    <li><strong>打开:</strong>
                        <pre><code>
//依赖注入$ecModal

$ecModal.open({
        templateUrl: 'modal-11',    //模板id
        controller: 'modal-11',     //控制器
        controllerAs: 'md',         
        overlayClose:true,          //默认false，设置true后点击模态窗体其它区域关闭
        resolve: {

        }
});</code></pre>
                    </li>
                    <li><strong>关闭:</strong>
                        <pre><code>
//依赖注入$ecModalInstance

$ecModalInstance.close().then(function(){
                    //成功关闭后执行

                    
                });</code></pre>
                    </li>
                </ul>
            </div>
            <div class="md-footer">
                <button ng-click="md.close()">关闭</button>
            </div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="modal-12">
    <div class="md-modal md-effect-12">
        <div class="md-content">
            <div class="md-header">
                <h3>Modal Dialog {{md.title}}</h3>
            </div>
            <div class="md-body">
                <p>使用简介:</p>
                <ul>
                    <li><strong>打开:</strong>
                        <pre><code>
//依赖注入$ecModal

$ecModal.open({
        templateUrl: 'modal-12',    //模板id
        controller: 'modal-12',     //控制器
        controllerAs: 'md',         
        overlayClose:true,          //默认false，设置true后点击模态窗体其它区域关闭
        resolve: {

        }
});</code></pre>
                    </li>
                    <li><strong>关闭:</strong>
                        <pre><code>
//依赖注入$ecModalInstance

$ecModalInstance.close().then(function(){
                    //成功关闭后执行

                    
                });</code></pre>
                    </li>
                </ul>
            </div>
            <div class="md-footer">
                <button ng-click="md.close()">关闭</button>
            </div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="modal-13">
    <div class="md-modal md-effect-13">
        <div class="md-content">
            <div class="md-header">
                <h3>Modal Dialog {{md.title}}</h3>
            </div>
            <div class="md-body">
                <p>使用简介:</p>
                <ul>
                    <li><strong>打开:</strong>
                        <pre><code>
//依赖注入$ecModal

$ecModal.open({
        templateUrl: 'modal-13',    //模板id
        controller: 'modal-13',     //控制器
        controllerAs: 'md',         
        overlayClose:true,          //默认false，设置true后点击模态窗体其它区域关闭
        resolve: {

        }
});</code></pre>
                    </li>
                    <li><strong>关闭:</strong>
                        <pre><code>
//依赖注入$ecModalInstance

$ecModalInstance.close().then(function(){
                    //成功关闭后执行

                    
                });</code></pre>
                    </li>
                </ul>
            </div>
            <div class="md-footer">
                <button ng-click="md.close()">关闭</button>
            </div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="modal-14">
    <div class="md-modal md-effect-14">
        <div class="md-content">
            <div class="md-header">
                <h3>Modal Dialog {{md.title}}</h3>
            </div>
            <div class="md-body">
                <p>使用简介:</p>
                <ul>
                    <li><strong>打开:</strong>
                        <pre><code>
//依赖注入$ecModal

$ecModal.open({
        templateUrl: 'modal-14',    //模板id
        controller: 'modal-14',     //控制器
        controllerAs: 'md',         
        overlayClose:true,          //默认false，设置true后点击模态窗体其它区域关闭
        resolve: {

        }
});</code></pre>
                    </li>
                    <li><strong>关闭:</strong>
                        <pre><code>
//依赖注入$ecModalInstance

$ecModalInstance.close().then(function(){
                    //成功关闭后执行

                    
                });</code></pre>
                    </li>
                </ul>
            </div>
            <div class="md-footer">
                <button ng-click="md.close()">关闭</button>
            </div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="modal-15">
    <div class="md-modal md-effect-15">
        <div class="md-content">
            <div class="md-header">
                <h3>Modal Dialog {{md.title}}</h3>
            </div>
            <div class="md-body">
                <p>使用简介:</p>
                <ul>
                    <li><strong>打开:</strong>
                        <pre><code>
//依赖注入$ecModal

$ecModal.open({
        templateUrl: 'modal-15',    //模板id
        controller: 'modal-15',     //控制器
        controllerAs: 'md',         
        overlayClose:true,          //默认false，设置true后点击模态窗体其它区域关闭
        resolve: {

        }
});</code></pre>
                    </li>
                    <li><strong>关闭:</strong>
                        <pre><code>
//依赖注入$ecModalInstance

$ecModalInstance.close().then(function(){
                    //成功关闭后执行

                    
                });</code></pre>
                    </li>
                </ul>
            </div>
            <div class="md-footer">
                <button ng-click="md.close()">关闭</button>
            </div>
        </div>
    </div>
</script>

<div class="md-container">
    <header>
        <h1>模态窗体弹出效果</h1>
    </header>
    <div class="main clearfix">
        <div class="column">
            <p>一些模态窗体效果Demo展示，请点击右侧按钮。调用方法请阅读源码。</p>
        </div>
        <div class="column">
            <button ng-click="container.showModal(1)">效果1</button>
            <button ng-click="container.showModal(2)">效果2</button>
            <button ng-click="container.showModal(3)">效果3</button>
            <button ng-click="container.showModal(4)">效果4</button>
            <button ng-click="container.showModal(5)">效果5</button>
            <button ng-click="container.showModal(6)">效果6</button>
            <button ng-click="container.showModal(7)">效果7</button>
            <button ng-click="container.showModal(8)">效果8</button>
            <button ng-click="container.showModal(9)">效果9</button>
            <button ng-click="container.showModal(10)">效果10</button>
            <button ng-click="container.showModal(11)">效果11</button>
            <button ng-click="container.showModal(12)">效果12</button>
            <button ng-click="container.showModal(13)">效果13</button>
            <button ng-click="container.showModal(14)">效果14</button>
            <button ng-click="container.showModal(15)">效果15</button>
        </div>
    </div>
</div>